{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'blog/css/blog.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="header"> <h1>GoodMood</h1>
{% block header %}
{% endblock header %}
</div>

<div id="sidebar">
{% block menu %}
{% for m in menu %}
<ul>
    <li><a href="{% url m.url_name %}">{{m.title}}</a></li>

</ul>
{% endfor %}

{% endblock menu %}
</div>

<div id="content">
{% block content %}
{% endblock content %}
</div>

<div id="footer"> <a href="https://vk.com/id49909937"><h3>nnp3691</h3></a></div>

</body>
</html>